@font-face {
  font-family: Europa;
  src: url('fonts/Europa-Regular.woff') format("woff");
}

@font-face {
  font-family: Europa;
  font-weight: bold;
  src: url('fonts/Europa-Bold.woff') format("woff");
}

@font-face {
  font-family: Europa;
  font-weight: lighter;
  src: url('fonts/Europa-Light.woff') format("woff");
}

body {
  font-family: "Europa";
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 1.6em;
  text-transform: none;
  color: rgba(18,18,18,.87);
}

main {
  font-family: "Europa";
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 1.6em;
  text-transform: none;
  color: rgba(18,18,18,.87);
}

h2 {
  font-style: normal;
  font-style: bold;
  font-size: 20px;
  letter-spacing: .1em;
  line-height: 1.6em;
  text-transform: uppercase;
}

h1 {
  color: #111;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  text-decoration: underline;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.title {
  font-family: "Europa";
  color: rgba(18,18,18,.87);
}

code {
  font-size: 85%;
  background-color: #f6f8fa;
  padding: 3px 4px;
  margin: 0 2px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

