<header>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
  <nav>
    <ul>
      {{ $title := lower .Title }}
      {{ $section := lower .Section }}
      {{ range .Site.Menus.main }}
      {{ $name := lower .Name }}
      <li class="pull-left {{ if eq $name $title }}current{{ else if eq $section $name }}current{{ else if eq $title (pluralize $name) }}current{{ end }}">
        <a href="{{ .URL }}">{{ lower .Name }}</a>
      </li>
      {{end}}

      {{ range .Site.Menus.feed }}
      {{ $name := lower .Name}}
      <li class="pull-right">
        <a href="{{ .URL }}">{{ lower .Name}}</a>
      </li>
      {{end}}

      <a href="https://noqcks.io/feed.xml"><img src="https://noqcks.io/img/rss-logo.png" style="padding-right: 8px; max-width:4%;min-width:10px;  max-height:20px; margin-top: 5px ; float:right;" alt="Github repo"/></a>

    </ul>
  </nav>
</header>
